# Project exclude paths
/.gradle/
/Problems/*/out/
/Problems/*/classes/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/frameworkLessonHistory/storage.storageData
/.idea/frameworkLessonHistory/storage.storageRecordIndex
/.idea/.gitignore
/.idea/.name

/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties

*.yaml
*.gradle
*.html
*.iml
*.xml
/gradlew
/gradlew.bat